#body{
	background-color: rgb(204, 204, 204);
}/*  your css code here. If applicable */
.heading{
	text-align: center;
}
#list{
	list-style-type: none;
	background-color:white;
	border:2px solid black;
	border-radius: 5px;
}
.player_one,.player_two{
	background-color: rgb(255, 255, 255);
	padding: 20px;
    border-radius: 10px;
}

#text{
	text-align:left;
}
